.white{
	background-image:url('../images/bg-login-top.png');
	height:100%;
	width:100%;
	padding:1em 2em;
	.logo{
		padding-top:12%;
		padding-left:37%;
	}

}
.black{
	background-image:url('../images/bg-login.png');
	height:100%;
	width:100%;
	padding-bottom:10em;
	padding-top:0.5em;
	.login-form{
		margin-left:40%;

		p{
			display:inline-block;
		}

		.input-container{
			text-align: left;
			margin:0 auto;
			color: white;
			padding-bottom:1em;
			display:block;

		}
		input{
			padding-top:2em;
			padding-left:7em;
			border-radius:0.5em;
		}
		button{
			margin-left:30%;
			background-color:#649214;
			color:white;
			border-radius:0.5em;
			padding:0.8em 1em;
			text-align:center;
			font-size: 0.5em;
		}

	}
		
		
}


		
		