.white {
  background-image: url("../images/bg-login-top.png");
  height: 100%;
  width: 100%;
  padding: 1em 2em; }
  .white .logo {
    padding-top: 12%;
    padding-left: 37%; }

.black {
  background-image: url("../images/bg-login.png");
  height: 100%;
  width: 100%;
  padding-bottom: 10em;
  padding-top: 0.5em; }
  .black .login-form {
    margin-left: 40%; }
    .black .login-form p {
      display: inline-block; }
    .black .login-form .input-container {
      text-align: left;
      margin: 0 auto;
      color: white;
      padding-bottom: 1em;
      display: block; }
    .black .login-form input {
      padding-top: 2em;
      padding-left: 7em;
      border-radius: 0.5em; }
    .black .login-form button {
      font-family: sans-serif;
      margin-left: 23%;
      background-color: #649214;
      color: white;
      border-radius: 0.6em;
      padding: 0.5em 1.3em;
      text-align: center;
      font-size: 1em; }
