.white {
  background-image: url("../images/bg-login-top.png");
  height: 35em; }
  .white .logo {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    padding-top: 24em; }

.black {
  background-image: url("../images/bg-login.png");
  height: 30em;
  color: white;
  margin: 0 auto;
  text-align: center;
  padding-top: 1em;
  border-top: solid #5E5F5B 0.5em; }
  .black form {
    margin-left: 3.2em;
    margin-bottom: 1em; }
    .black form label {
      display: inline-block; }
    .black form .input-container {
      text-align: left;
      margin: 0 auto;
      color: white;
      padding-bottom: 1em;
      display: block; }
    .black form input {
      border: none;
      height: 2em;
      margin-left: 3em;
      width: 20em;
      border-radius: 6px;
      padding: 1em;
      outline: none;
      font-size: 1em; }
    .black form button {
      display: block;
      background: -webkit-linear-gradient(top, #95C73E, #4D9907);
      margin: 0 auto;
      color: white;
      border: none;
      border-radius: 6px;
      width: 10em;
      margin-top: 1em;
      padding: 1em;
      outline: none;
      font-size: 1em; }

#error {
  color: white;
  margin: 0 auto;
  text-align: center; }
